/* main design */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 140px;
  width: 100%;
  padding: 0 54px 0 60px;
  /* border-bottom: 40px solid #313538; */
  z-index: 99;
  background-color: white;
  display: flex;
  align-items: center;
}
.title{
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
}
